@page
@model ToDoLifeApp.Pages.ToDos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ToDo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.TodoTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.TodoTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.prices)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.prices)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDo?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
